# Code Mower config template
version: 1
project:
  name: "{{ project_name }}"
  state_dir: "{{ state_dir }}"
repositories:
  - slug: "{{ repository_slug }}"
    default_branch: main
audit:
  budget_usd: ""
  max_diff_bytes: "180000"
  max_diff_hard_limit_bytes: "1500000"
lanes: {}
profiles: {}
