# Code Mower config template
version: 1
project:
  name: "{{ project_name }}"
  state_dir: "{{ state_dir }}"
repositories:
  - slug: "{{ repository_slug }}"
    default_branch: main
lanes: {}
profiles: {}
